body{
    margin: 0;
}

.encabezado{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #B2B7C3;
    display: flex;
    align-items: center;
}
.encabezado .logo{
    width: 250px;
    height: 100%;
    margin: auto 10px auto 10px;

}
.workspace {
    margin: 100px 30px 30px 280px;
    border: darkgray solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    overflow-x: hidden;
    height: 597px;
    width: 1200px;
}
.fondo{
    width: 800px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.navbar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: auto;
    top: 0;
    left: 0;
    background-color: #142450;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 5px;
}
#barra{
    margin: 0;
    margin-top: 50px ;
    padding: 0;
    float: left;
    width: 100%;
    text-align: right;
}
#barra li{
    list-style: none;
    background-color: #142450;
    width: 100%;
    border-bottom: white solid 1px;
}
#barra li a{
    display: block;
    padding: 8px;
    border-left: 4px solid white;
    text-decoration: none;
    color: white;
}
#barra li a:hover{
    border-left: 4px solid cadetblue;
    background-color: #5D6782;
    color: black;
}
#barra li ul{
    padding: 0;
    display: none;
}
#barra li:hover ul{
    display: block;
}
#barra li:hover ul li{
    background-color: black;
}
#barra li:hover ul li a{
    color: white;
}
#barra li:hover ul li a:hover{
    background-color: #ffffff;
    border-left: #F57C21 solid 4px;
    color: #000000;
}
.pie{
    background-color: #5D6782;
    width: 100%;
    height: 30px;
}
.pie p{
    margin-left: 280px;
    color: white;
}

