body{
    margin: 0;
}

.encabezado{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    overflow-x: hidden;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.encabezado .logo{
    width: 15%;
    height: 50px;
    background-color: black;
    margin: 10px 30px 0 15px;
}
.workspace {
    margin: 100px 30px 30px 280px;
    border: black solid 1px;
}

.navbar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: auto;
    top: 0;
    left: 0;
    background-color: lightslategrey;
    overflow-x: hidden;
    padding-top: 50px;
}
.navbar ul {
    list-style: none;
    width: 250px;
    padding: 0;

}
.navbar ul li{
    width: 90%;
    height: 10px;
    padding: 15px;
    background-color: black;
    text-align: center;
    border: none;
    border-bottom: white solid 1px;
}
.navbar ul li:hover{
    background-color: #484848;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 40px 15px 40px;
}
.navbar ul li a:hover{
    color: #000;
}
.pie{
    background-color: black;
    width: 100%;
    height: 25px;
}
